@import url("../bower_modules/foundation/css/normalize.css");
@import url("../bower_modules/foundation/css/foundation.css");
@import url("../bower_modules/codemirror/lib/codemirror.css");

html, body, 
.off-canvas-wrap, 
.inner-wrap, 
.main-section, 
.CodeMirror {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
}

.kbdsc {
	float: right;
}

.tab-bar {
	position: absolute;
	top: 0;
}

.Editor-Wrapper {
	height:100%; 
	padding-top:45px;
}

.CodeMirror {
	height: 100%;
}

.CodeMirror-scroll {
	overflow-y: hidden;
}

.-menu-message {
	text-align: right;
	padding-right: 20px;
}

.-tests-table {
	margin-top: 45px; 
	width: 100%
}

.-tests-action-add {
	margin-bottom: 0;
	float: right;
}

.-tests-modal-add-code {
	height: 450px;
}

.-tests-modal-add-desc {
	height: 200px;
	resize: none;
}

.full-height {
	height: 100%;
}


.-decoder-input-editor, 
.-decoder-output-editor {
	width: 49%;
	display: inline-block;
}





