[data-toggle] {
	cursor: pointer;
}

body > .tab-content {
	margin-top: 30px;
}

.navbar-nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}

#messages {
	margin-top: 7px;
	margin-bottom: 5px;
}

.navbar {
	min-height: 0;
}

html, body {
	background-color: 000;
}

.col-md-6 {
	padding-right: 0;
	padding-left: 0;
}

.row {
	width: 100%;
	margin-left: 0;
}

.page-header {
	margin: 0;
}


#ideView > .tab-content {
	margin-top: 30px;
}

#ideCloseBtn {
	margin-bottom: 0;
	margin-top: 4px;
	margin-right: 4px;
}


body.modal-open {
	margin-right: 0;
}

/** GitHub Commits Widget CSS **/

#github-commits {

}

.github-commits-list {
	padding-left: 0;
}

.github-commits-list > li {
	list-style: none;
	padding-bottom: 10px;
}

.github-user {
	display: none;
}

.github-commit {
	display: block;
}


